<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Admin Dashboard</title>
  </head>
  <body>
    {% include 'navbar.html' %}
    <!-- navbar transfered on admindashboard -->
    <div class="container">
      <h1>Admin Dashboard</h1>
      <div class="row">
        <div class="col-md-4">
          <!-- Example Widget for Equipment Summary -->
          <div class="card">
            <div class="card-body">
              <div class="card-body" style="text-align: center;">
              <h3 class="card-title">Welcome Admin</h3>
              <!-- Content showing summary of equipment -->
            </div>
            </div>
            <nav style="background-color: white; padding: 10px;">
              <a href="http://127.0.0.1:8000/reports/inventorystatus/" style="text-decoration: none; color: black; padding: 10px 10px; border: 10px;">Current Inventory Status</a>
              <a href="http://127.0.0.1:8000/reports/usage/" style="text-decoration: none; color: black; padding: 10px 10px; border: 5px;">Equipment Usage History</a>
              <a href="http://127.0.0.1:8000/reports/warranty/" style="text-decoration: none; color: black; padding: 10px 10px; border: 5px;">Warranty Report</a>
              <a href="http://127.0.0.1:8000/reports/overdue/" style="text-decoration: none; color: black; padding: 10px 10px; border: 10px;">Overdue Equipment Report</a>
              <a href="http://127.0.0.1:8000/createitem" style="text-decoration: none; color: black; padding: 10px 10px; border: 5px;">Create Item</a>
              <a href="http://127.0.0.1:8000/updateitem/1" style="text-decoration: none; color: black; padding: 10px 10px; border: 5px;">Update Item</a>
              <a href="http://127.0.0.1:8000/deleteitem/1" style="text-decoration: none; color: black; padding: 10px 10px; border: 5px;">Delete Item<int:id></a>
              <a href="http://127.0.0.1:8000/inventory/overduecount/" style="text-decoration: none; color: black; padding: 10px 10px; border: 5px;">Inventory Overdue Count</a>
              <a href="http://127.0.0.1:8000/inventory/countbydevicetype/" style="text-decoration: none; color: black; padding: 10px 10px; border: 5px;">Inventory Device Type</a>
              <a href="http://127.0.0.1:8000/admin/" style="text-decoration: none; color: black; padding: 10px 10px; border: 5px;">Admin</a>
            </nav>
          </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <!-- Other Widgets -->
        </div>
        <!-- ... more widgets -->
      </div>
    </div>
  </body>
</html>
