
<!-- rayan -->
{% extends 'main.html' %}
{% block content %} {% load static %}


<head>
    <title>Booking Success</title>
    <link href="{% static 'appone/styles.css' %}" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <h1>Booking Successful!</h1>
        <p>Your equipment has been reserved successfully.</p>
        <a href="{% url 'current_bookings' %}">View Current Bookings</a>
    </div>
</body>

{% endblock content%}
        <!-- You can provide additional information or links here -->
        <a href="{% url 'current_bookings' %}">View Current Bookings</a>
    </div>
</body>
</html>
