* {
    margin: 0;
    padding: 0;
}

.frontpage {
    background-color: #572f2f;
    height: 500px;
}


.text {
    padding: 20px;
    margin-top: 20px;
}

.button{
    margin-top: 50px;
    background-color: aqua;
    border-radius: 10px;
    width: fit-content;
    padding: 15px;
}

.button:hover{
    background-color: #93c52f;
    transition-duration: 1s;
    transition-property: all;
    transition-timing-function: ease-in-out;
}
