<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Equipment Inventory</title>
  </head>
  <body>
    {% include 'navbar.html'%}
    <!-- inheritance navbar to all pages -->
    {% block content %} {% endblock content %}
    
    
    <footer class="text-center text-lg-start bg-light text-muted mt-4" style="background-color: #f8f9fa; text-align: center; font-size: 0.8rem; opacity: 0.7; padding: 10px 0; box-shadow: 0 -2px 4px rgba(0,0,0,0.1);">
      <div class="p-4">
        © Copyright -
        <span style="font-weight: bold;">  Team Brave</span> -
        <span style="font-weight: bold;">Privacy Policy</span> -
        <span style="font-weight: bold;">Terms Of Use</span>

      </div>
    </footer>
  
  </body>
</html>
