<div style="display: flex; justify-content: space-between; align-items: center;">
  <div>
    {% load static %}
    <img
      src="{% static 'appone/brave.png' %}"
      alt="test"
      style="width: 150px; height: auto"
    />
    
  </div>
  <nav style="background-color: white; padding: 10px;">
    <a href="http://127.0.0.1:8000/admin/" style="text-decoration: none; color: black; padding: 10px 10px; border: 10px;">Dashboard</a>
    <a href="http://127.0.0.1:8000/admin/" style="text-decoration: none; color: black; padding: 10px 10px; border: 5px;">Equipment</a>
    <a href="http://127.0.0.1:8000/admin/" style="text-decoration: none; color: black; padding: 10px 10px; border: 5px;">Reservations</a>
  </nav>
</div>

<style>
  nav a:hover {
    background-color: lightgray;
    color: black;
  }
</style>
